@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.header {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
    width: 100%;
    background-color: #de430fbe;
    border-bottom: #982b07 2px solid; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Lato", serif;
    transition: background-color 0.3s ease;
}

.header:hover {
    background-color: #982b07; 
}

.leftSide h2 {
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.sections {
    display: flex;
    list-style: none;
}

.sections a {
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sections a:hover {
    color: black;
    transform: translateY(-3px); 
}


@media (max-width: 768px) {
    .leftSide h2 {
        font-size: 22px;
    }

    .sections a {
        padding-right: 5px;
        font-size: 14px;
    }
}
